<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Program Xbee Module</title>
</head>
<body>
<label>"value from serial interface is"</label><br/>
<label>{{ serial_output }} </label><br/><br/>
<form action={{ xbee_module.get_absolute_url }} method="post">
        {% csrf_token %}
    <label>"Destination high (4B)"</label>
        <input type="text" name={{ xbee_module.HIGH_ADDRESS }} placeholder="Destination High"/><br>
    <br/>
    <label>"Destination low (4B)"</label>
        <input type="text" name={{ xbee_module.LOW_ADDRESS }} placeholder="Destination Low"/><br>
    <br/>
    <br/>

        <input type="submit" value="Program"/><br/>

    </form>
</body>
</html>